<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">メニュー</span>
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        {{ range .Site.Menus.main.ByWeight }}
          {{ $name := lower .Name }}
          {{ if and (ne $name "search") (ne $name "tags") (ne $name "検索") (ne $name "タグ") }}
            <li><a title="{{ .Name }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>